<!--Hoja de estilo Interna-->
    /* Asi tambien se ponen comentarios */

    /* selector {
        propiedad:valor
    }
    */

    a {
        text-decoration: none;
        color: red;
    }

    <!--Subclase cuando se tienen diferentes estados-->
    a:hover {
        text-decoration: underline;
        color: green;
    }

    body {
        background-color: aquamarine;
    }

    p {
        /*
        border-width: 10px;
        border-color: blue;
        border-style: solid;
        */
        /*shorthand*/
        border: 10px solid blue;

        /*shorthand*/
        padding: 20px 15px 50px 10px;
        /*En este orden*/

        /*margin top*/
        /*margin right*/
        /*margin bottom*/
        /*margin left*/

        
    }